{% extends "layout.html" %}

{% block title %}
    Books
{% endblock %}

{% block body %}
    <h1>Books</h1>

    <ul>
        {% for book in books %}
            <li>
                <a href="{{ url_for('book', isbn=book.isbn) }}">
                    {{ book.isbn }}: "{{ book.title }}" written by {{ book.author }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="form-group">
        <button class="btn btn-primary" onclick="window.history.back()">Back</button>
    </div>
{% endblock %}
