{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}


    <h2>Book Details</h2>

    <ul>
        <li>Isbn: {{ book.isbn }}</li>
        <li>Title: {{ book.title }}</li>
        <li>Author: {{ book.author}}</li>
        <li>Published Year: {{ book.year}}</li>
    </ul>


    <h3>GoodReads Info</h3>

      <ul>
          <li>work_ratings_count: {{ goodreadsbook.work_ratings_count }}</li>
          <li>average_rating: {{ goodreadsbook.average_rating }}</li>
      </ul>





    <h3>Local Reviews</h3>
    <ul>
        {% for review in reviews %}
            <li> Rate: {{ review.rating }}
              <ul>
                <li>User: {{ review.user_name }}</li>
                <li>Text: {{ review.text }}</li>
              </ul>
            </li>
        {% else %}
            <li>No reviews.</li>
        {% endfor %}
    </ul>



    <h4>Add a new local review</h4>
    <form action= "/books/{{ book.isbn }}/reviewadd"   method="post")'>

        <div class="form-group">
          <label for="text">Text:</label>
          <input type="text" class="form-control" name="text" placeholder="Your Review">
        </div>

        <div class="form-group">
            <label for="nick">Rating</label>
            <select class="form-control" name="rating">
                  <option value="5">5</option>
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Add Review</button>
        </div>

    </form>

    <div class="form-group">
        <button class="btn btn-primary" onclick="window.history.back()">Back</button>
    </div>
{% endblock %}
